
@{
    ViewBag.Title = "DangKyThanhCong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Cảm ơn bạn <b>@ViewBag.Guest_Name</b></h2>
<h3>Chúng tôi đã nhận thông tin của bạn, gồm:</h3>
<p>Email:<b>@ViewBag.Guest_Email</b></p>
<p>Số điện thoại:<b>@ViewBag.Guest_Phone</b></p>
<p>Xác nhận tham gia:<b>@ViewBag.Footer</b></p>
<p></p>

