
@{
    ViewBag.Title = "XinChao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>XinChao</h2>
<h4>Bây giờ là: @ViewBag.Time</h4>
<h4>@ViewBag.Greeting</h4>
@Html.ActionLink("Đăng ký", "DangKyThanhVien", "GiaiBai")
